h1 {
    color: rgb(42, 79, 165);
    margin-left: 30px;
}

p {
    color:aquamarine
}

.header {
    background-color:rgb(235, 196, 255);
    display: flex;
    justify-content: space-between;
}

.grid {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly
}

.footer {
    display: flex;
    justify-content: flex-end;
}

body {
    background-color: #804e96;
}

a:visited {
    color:rgb(168, 30, 236)
}

a:link {
    color: rgb(37, 215, 203)
}

.item {
    position: relative;

}

.item p{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    opacity: 0
}

.item:hover p{
    opacity: 1;
}

.item:hover img{
    opacity: 0.33;
}


